<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="twetailer.console.golf"
    android:versionCode="1"
    android:versionName="0.9"
>
    <application
        android:label="@string/dashboard_name"
        android:icon="@drawable/logo_48x48"
    >
        <activity
            android:name=".Dashboard"
            android:label="@string/dashboard_name"
            android:launchMode="singleTask"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ase" android:host="oauthresponse"/>
            </intent-filter>
        </activity>
        <activity
           android:name=".DemandEdit"
           android:windowSoftInputMode="stateVisible|adjustResize"
        ></activity>
        <activity
           android:name=".ProposalView"
           android:windowSoftInputMode="stateVisible|adjustResize"
        ></activity>
	    <activity
			android:name=".Preferences"
			android:label="@string/preferences_name"
		></activity>
	</application>

	<uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 